body {
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

button {
    margin: 1em;
    background-color: rgb(47, 125, 228);
    color: rgb(224, 224, 224);
    border: solid gray 1px;
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(77, 146, 224);
}